<h1>Bookmark Manager</h1>

<div>
  <ul> 
    <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" > <a href="<%= bookmark.url %>">  <%= bookmark.title %> </a> 
    <form action="/bookmark/<%=bookmark.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">  
    </form>
    </li>
    <% end %>
  </ul>
</div>
<div>
  <form action="/bookmark" method="post">
    <input type=text name=create_title value="enter title">
    <input type=text name=create_url value="enter url">
    <input type="submit" value="Add new">  
  </form>
</div>
